.section {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 24px;


    &__title {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
    }

    &__tasks {
        display: flex;
        margin-top: 32px;
        flex-direction: column;
    }
}